html{
    width: 100%;
    height: 100%;
    position:fixed;
    margin:0px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

body{
    height: 100%;
    margin:0px;
}

h1{
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#content{
    background-color: rgba(255, 255, 255, 40%);    
    width: fit-content;
    height: 95%;
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 1rem;  
    border-radius: 1rem;
    margin: auto;
    margin-top: 10px;;
}
button:hover{
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 15%);
    
}
button{
    float: left;
    font-family: Comic Sans MS;
    font-size:20px;
    width:90px;
    height: 45px;
    border-radius: 1rem;
    transform: translateX(-15px);
}
#result{
    border: 2px solid black;
    font-family: Comic Sans MS;
    font-size:50px;
    padding: 2px;
    letter-spacing: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 15%;
    
}
#widget1{
    position:absolute;
    /*border: 2px solid black;*/      
    width: 330px;
    height: 295px;
    margin-left: 50px;
    transform: translateX(15px);     
}

#widget2{    
    /*border: 2px solid black;*/ 
    float:right;
    margin-right: 50px;  
    width: 330px;
    height: 450px;
    border-radius: 1rem;
    overflow: hidden;   
}
#widget3{     
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    transform: translateY(-100%);
    width: 330px;
    height: 295px;
    border-radius: 1rem;
    overflow: hidden;  
}
.npc{
    border: 2px solid black;
    width: 25%; 
    height: 190px;
    margin-left:50%;
    transform: translateX(-50%);
}
.column{
    border: 2px solid black;
    width: 25%; 
    height: 190px;
    margin-left: 15px;
}
.npc img{
    display: none;
}
.column:hover{
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 15%);
}
.row{
    margin-top: 15%;
    text-align: center;
}
